language: scala

# Not sure why this is necessary, but sometime before this commit the master
# branch and other branches/tags stopped getting cloned down by travis automatically
install:
- git fetch origin master:master

matrix:
  include:
  # Each `test` call is manually sharded out into `published/test` and
  # `integration/test`; for some reason, running them on the same box is
  # flaky and `integration/test` ends up hanging, even if they are run in
  # separate, sequential processes.
  #
  # published tests tend to run slower than integration tests, so start
  # them first
  - stage: build
    env: CI_SCRIPT="ci/build.sc test published/test"
    jdk: oraclejdk8
    scala: 2.12.4

  - stage: build
    env: CI_SCRIPT="ci/build.sc test published/test"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: build
    env: CI_SCRIPT="ci/build.sc test published/test"
    jdk: openjdk7
    scala: 2.10.6

  - stage: build
    env: CI_SCRIPT="ci/build.sc test integration/test"
    jdk: oraclejdk8
    scala: 2.12.4

  - stage: build
    env: CI_SCRIPT="ci/build.sc test integration/test"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: build
    env: CI_SCRIPT="ci/build.sc test integration/test"
    jdk: openjdk7
    scala: 2.10.6

  # Publish everything to sonatype in conjunction with running tests
  - stage: build
    env: CI_SCRIPT="ci/build.sc artifacts 2.10.4 2.10.5 2.10.6"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: build
    env: CI_SCRIPT="ci/build.sc artifacts 2.11.3 2.11.4 2.11.5 2.11.6 "
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: build
    # 2.11.9 and 2.11.10 were borked releases
    env: CI_SCRIPT="ci/build.sc artifacts 2.11.7 2.11.8 2.11.11"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: build
    # Leave 2.12 unprefixed so any additional 2.12 versions get included automatically
    env: CI_SCRIPT="ci/build.sc artifacts 2.12"
    jdk: oraclejdk8
    scala: 2.11.11



  # Everything worked, *then* kick off a release
  - stage: release
    env: CI_SCRIPT="ci/build.sc sonatypeReleaseAll"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: release
    env: CI_SCRIPT="ci/build.sc docs"
    jdk: oraclejdk8
    scala: 2.11.11

  - stage: release
    env: CI_SCRIPT="ci/build.sc executable"
    jdk: oraclejdk8
    scala: 2.11.11

script:
- unset _JAVA_OPTIONS
- export PATH=~/bin/amm:$PATH
- mkdir -p ~/bin
# We use 2.11 since we need to run tests on Java 7
- if [ ! -f ~/bin/amm ]; then curl -L -o ~/bin/amm https://github.com/lihaoyi/Ammonite/releases/download/1.0.0/2.11-1.0.0 && chmod +x ~/bin/amm; fi
- amm $CI_SCRIPT

notifications:
  email:
    - haoyi.sg@gmail.com

sudo: false


# Stolen from https://github.com/typelevel/cats/blob/master/.travis.yml
cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.coursier
  - $HOME/.nvm
  - $HOME/bin

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
