language: scala

# Not sure why this is necessary, but sometime before this commit the master
# branch and other branches/tags stopped getting cloned down by travis automatically
install:
- git fetch origin master:master

matrix:
  include:

  - stage: build
    env: CI_SCRIPT="mill -i unitTest"
    jdk: oraclejdk7
    scala: 2.11.12

  - stage: build
    env: CI_SCRIPT="mill -i unitTest"
    jdk: oraclejdk9
    scala: 2.12.6

  - stage: build
    env: CI_SCRIPT="mill -i unitTest"
    jdk: oraclejdk8
    scala: 2.12.6

  - stage: build
    env: CI_SCRIPT="mill -i integrationTest"
    jdk: oraclejdk7
    scala: 2.11.12

  - stage: build
    env: CI_SCRIPT="mill -i integrationTest"
    jdk: oraclejdk9
    scala: 2.12.6

  - stage: build
    env: CI_SCRIPT="mill -i integrationTest"
    jdk: oraclejdk8
    scala: 2.12.6


  # Everything worked, *then* kick off a release
  - stage: release
    env: CI_SCRIPT="mill -i publishSonatype __.publishArtifacts 1 3"
    jdk: oraclejdk8
    scala: 2.11.12

  - stage: release
    env: CI_SCRIPT="mill -i publishSonatype __.publishArtifacts 2 3"
    jdk: oraclejdk8
    scala: 2.11.12

  - stage: release
    env: CI_SCRIPT="mill -i publishSonatype __.publishArtifacts 3 3"
    jdk: oraclejdk8
    scala: 2.11.12

  - stage: release
    env: CI_SCRIPT="mill -i publishDocs"
    jdk: oraclejdk8
    scala: 2.11.12

  - stage: release
    env: CI_SCRIPT="mill -i publishExecutable"
    jdk: oraclejdk8
    scala: 2.11.12

script:
- unset _JAVA_OPTIONS
- unset JVM_OPTS
- unset SBT_OPTS
- export PATH=~/bin/amm:~/bin/mill:$PATH
- mkdir -p ~/bin
# We use 2.11 since we need to run tests on Java 7
- if [ ! -f ~/bin/mill ]; then sudo sh -c '(echo "#!/usr/bin/env sh" && curl -L https://github.com/lihaoyi/mill/releases/download/0.2.0/0.2.0) > ~/bin/mill && chmod +x ~/bin/mill'; fi
- JAVAOPTS="-Xmx2048m" $CI_SCRIPT

notifications:
  email:
    - haoyi.sg@gmail.com

sudo: true


# Stolen from https://github.com/typelevel/cats/blob/master/.travis.yml
cache:
  directories:
  - $HOME/bin

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
