*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache-main
.cache-tests
.classpath
.project
.settings/

bin/

# ignore everything in all target/ folders
target/
