name: Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: [8, 11]
        scala-version: [2.12.14, 2.13.6, 3.0.1]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - run: ./mill -i unitTest "${{ matrix.scala-version }}"
  itest:
    strategy:
      fail-fast: false
      matrix:
        java-version: [8, 11]
        scala-version: [2.12.14, 2.13.6, 3.0.1]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - run: ./mill -i integrationTest ${{ matrix.scala-version }}
