name: CI
on:
  push:
    branches:
      - main
      - 2.x
  pull_request:

# cancel older runs of a pull request;
# this will not cancel anything for normal git pushes
concurrency:
  group: cancel-old-pr-runs-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: [8, 11, 17]
        scala-binary-version: [2.12, 2.13, 3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
      - run: ./mill -i -k unitTest "${{ matrix.scala-binary-version }}"

  itest:
    strategy:
      fail-fast: false
      matrix:
        java-version: [8, 11, 17]
        scala-version: [2.12, 2.13, 3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
      - run: ./mill -i -k integrationTest ${{ matrix.scala-version }}

  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
      - run: echo "Hello World" && ./mill -i publishDocs --skipDeploy true
        env:
          TERM: xterm-256color

  publishLocal:
    strategy:
      fail-fast: false
      matrix:
        scala-version: [2.12.19, 2.13.13, 3.3.3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
      - run: ./mill -i -k __[${{ matrix.scala-version }}].__.publishLocal

  release:
    if: github.repository == 'com-lihaoyi/Ammonite' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/2.x')
    needs: [ test, itest, site, publishLocal ]
    uses: ./.github/workflows/release.yml
    secrets: inherit

  publishDosc:
    if: github.repository == 'com-lihaoyi/Ammonite' && github.ref == 'refs/heads/main'
    needs: [ test, itest, site ]
    uses: ./.github/workflows/publishDocs.yml
    secrets:
      DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}

  publishExecutable:
    if: github.repository == 'com-lihaoyi/Ammonite' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/2.x')
    needs: [ test, itest, site ]
    uses: ./.github/workflows/publishExecutable.yml
    secrets:
      AMMONITE_BOT_AUTH_TOKEN: ${{ secrets.AMMONITE_BOT_AUTH_TOKEN }}
