name: Publish Docs
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  publishDocs:
    runs-on: ubuntu-latest
    env:
      DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - shell: 'script -q -e -c "bash {0}"'
      - run: echo "Hello World" && ./mill -i publishDocs
