name: Publish Executable
on:
#  push:
#    branches:
#      - main
#      - 2.x
  workflow_call:
    secrets:
      AMMONITE_BOT_AUTH_TOKEN:
        required: true

jobs:
  publishExecutable:
    runs-on: ubuntu-latest
    env:
      AMMONITE_BOT_AUTH_TOKEN: ${{ secrets.AMMONITE_BOT_AUTH_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: '8'
      - run: ./mill -i publishExecutable
